{% if include.post.updated %}
  First published <time datetime="{{ include.post.date | date_to_xmlschema }}" itemprop="datePublished">on {{ include.post.date | date_to_string }}</time>.
  Last revised <time datetime="{{ include.post.updated | date_to_xmlschema }}" itemprop="dateModified">on {{ include.post.updated | date_to_string }}</time>.
{% else %}
  Published <time datetime="{{ include.post.date | date_to_xmlschema }}" itemprop="dateModified datePublished">on {{ include.post.date | date_to_string }}</time>.
{% endif %}
