<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
  <header>
    <hgroup class="page-header">
      <h1><a href="{{ include.post.url }}" itemprop="name headline">{{ include.post.title }}</a></h1>

      <p class="text-muted">
        {% include datestamp.html post=include.post %}
        <span itemprop="author creator copyrightHolder" itemscope itemtype="http://schema.org/Person">
          By
          <a href="https://plus.google.com/u/0/100653048199781266668?rel=author" itemprop="url"><span itemprop="name"><span itemprop="givenName">Graeme</span> <span itemprop="familyName">Mathieson</span></span></a>.
        </span>
        {{ include.content | number_of_words }} words towards my 50,000 total!
      </p>
    </hgroup>
  </header>

  <section id="article-body" itemprop="text description articleBody">
    {{ include.content }}
  </section>

  <section class="well feedback">
    <h4>Feedback</h4>
    <p>
      I'm trying an experiment. Rather than having a traditional comment system,
      I'm soliciting feedback in the GitHub Way. If there's something not quite
      right about this article, please
      <a href="https://github.com/mathie/mathie.github.io/issues/new?title={{ include.post.title | url_escape }}">raise a new issue</a>
      on GitHub.  Better still, if you can fix it yourself:
      <a href="https://github.com/mathie/mathie.github.io/blob/master/{{ include.post.path }}">the source to this article is on GitHub</a>.
      Fork it, make your changes and send me a pull request!
    </p>

    <p>
      Of course, if you'd just like to get in touch, I would genuinely love to
      hear from you. Seriously, it would make my day. I can be contacted by
      email
      (<a href="mailto:mathie@woss.name?subject=Followup%20to%20{{ include.post.title | url_escape }}">mathie@woss.name</a>)
      or Twitter (<a href="https://twitter.com/mathie">@mathie</a>).
    </p>
    </div>

    <h4>More to read</h4>

    <p>
      If you've enjoyed this article, perhaps you'd like to peruse some
      <a href="/articles/">other things I've written</a> or you can check out
      my <a href="http://woss.name/">regular blog</a>. If you're particularly
      keen, you could
      <a href="https://twitter.com/mathie">follow me on Twitter</a>, or check
      out <a href="https://github.com/mathie">some of my code on GitHub</a>.
    </p>
  </section>
</article>
